body {

}
h1 {

}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

@media screen and (max-width: 600px) {
  body {
    font-size: large;
    padding: 0 20px;
  }

  h1 {
    font-size: x-large;
  }

  figcaption {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1040px) {
  body {
    background-color: silver;
    font-size: x-large;
    padding: 0 30px;
  }

  .imgs {
    display: flex;
    flex-wrap: wrap;
  }
  
  .figure {
    margin-left: 20px;
  }
}