.App {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.Card {
  display: flex;
  flex-direction: column;
}

.CardF {
  margin: 10px;
  justify-content: space-around;
  flex-basis: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: solid 1px black;
}

.Section {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}